@import '../../../../scss/index.scss';

.comment-form{
    position: absolute !important;
    bottom: 0;
    display: flex;
    width: 100%;
    padding: 1rem;
    margin-left: -17px;
    overflow: hidden;
    .field {
      margin: 0 !important;
      width: 100%;
      overflow: hidden;
      .ui.input {
        height: 60px;
        input {
          border: 0;
          border-top: 1px solid $border-grey;
          border-radius: 0;
          padding-right: 80px;
          overflow: hidden;
        }
      }
    }
  
    .ui.button {
      height: 0px;
      border: 0;
      border-radius: 0;
      background-color: transparent;
      overflow: hidden;
      margin: 0;
      position: absolute;
      right: 0;
      height: 100%;
      padding-bottom: 30px !important;
      &:hover,&:focus {
        background-color: transparent !important;
      }
    }
  }
  